h1 {
	font-size: 11px;
}
body {
  color: #959595;
}
header {
  border-bottom: 1px solid #959595;
  height: 30px;
  padding: 0 30px;
 }
 img {
   height: 15px;
   weight: 15px;
   position: absolute;
   top: 15px;
   right: 30px;
 }
.header-title {
  padding-top: 15px;
  font-size: 10px;
  margin: 0;
  float: left;
}
.header-list {
  float: right;
  height: 15px;
}
.header-list li {
    list-style: none;
    padding-right: 30px;
    font-size: 10px;
    float: left;
}

/* Representative */
.representative {
  height: 600px;
  border-bottom: 2px solid #959595;
}

.main_representative {
  position: absolute;
  left: 45%;
}
.title_representative {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 30px;
  font-size: 11px;
}

.yohane {
  width: 250px;
}

.representative1 {
  margin-top: 10px;
}

.kouki {
  width: 250px;
}

.representative2 {
  margin-top: 10px;
}

.introduction {
  margin: 0;
}
