body {
  color: #959595;
}
header {
  border-bottom: 1px solid #959595;
  height: 30px;
  padding: 0 30px;
 }
 img {
   height: 15px;
   weight: 15px;
   position: absolute;
   top: 15px;
   right: 30px;
 }
.header-title {
  padding-top: 15px;
  font-size: 10px;
  margin: 0;
  float: left;
}
.header-list {
  float: right;
  height: 15px;
}
.header-list li {
    list-style: none;
    padding-right: 30px;
    font-size: 10px;
    float: left;
}
.idea {
  font-size: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
